:root {
  --index: calc(1vh + 1vw);
}
.userCard {
  display: flex;
  flex-direction: row;
  background-color: #383838;
  border-radius: 5px;
  width: calc(var(--index) * 22.5);
  height: calc(var(--index) * 10.5);
  .user-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(var(--index) * 7.7);
    height: calc(var(--index) * 10.5);
    background-color: #4c4c4c;
    border-radius: 5px;
    & > img {
      width: calc(var(--index) * 4.8);
      height: calc(var(--index) * 4.8);
      border-radius: 50%;
      border: 2px solid #383838;
    }
  }
  .user-info {
  }
}
