:root {
  --index: calc(1vh + 1vw);
}
.user-info {
  display: flex;
  flex-direction: column;
  width: calc(var(--index) * 11.7);
  height: calc(var(--index) * 20);
  box-shadow: 0px 0px calc(var(--index) * 0.27) 0px rgba(0, 0, 0, 0.185);
  border-radius: calc(var(--index) * 0.17);
  .edit-btn {
    margin: 0 calc(var(--index) * 0.67);
    width: calc(var(--index) * 10.3);
    height: calc(var(--index) * 1.15);
    font-size: calc(var(--index) * 0.6);
    padding: 0;
    border: none;
    transition: color 0.3s, background-color 0.3s;
    color: #ade6b9;
    background-color: #edffe8;
    &:hover {
      color: #90e0a1;
      background-color: #dbffd2;
    }
  }
}

.user-friends {
  width: calc(var(--index) * 8.5);
  height: calc(var(--index) * 12.7);
  border-radius: calc(var(--index) * 0.17);
  box-shadow: 0px 0px calc(var(--index) * 0.27) 0px rgba(0, 0, 0, 0.185);
}
