// SideBar.module.scss
.sidebar {
  width: 100px;
  height: 100vh;
  background-color: #cdcdcd;
  transition: width 0.3s;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;

  & > * {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &::before {
    content: "FS";
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 700;
  }

  &:hover {
    width: 468px;
    & > * {
      display: block;
      opacity: 1;
    }
    &::before {
      display: none;
    }
  }

  nav {
    width: 406px;
    opacity: 1;

    ul {
      list-style: none;
      border-radius: 5px;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ececec;
        font-size: 18px;
        height: 80px;
        border-bottom: 1px solid #cdcdcd;

        a {
          text-decoration: none;
          color: #000;
        }

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
.active {
  font-weight: 500;
}
